.bg-color1{
    background-color: #8C165B;
}
.bg-color2{
    background-color: #E3C5D8;
}
.bg-color3{
    background-color: #DA0895;
}

.custom-heading1{
    font-family: 'Poppins', sans-serif;
    font-size: clamp(2.5rem, 5vw, 3rem);
}
.custom-heading2{
    font-family: 'Poppins', sans-serif;
    font-size: clamp(1.875rem, 3vw, 2.375rem)    ;
}

.navbar-custom{
    height: 10vh;
    transition: background-color 0.3s ease;
    background-color: transparent;
    z-index: 1000;
}
.navbar-custom img{
    outline: 2px solid rgba(140, 22, 91, 1);
}
.navbar-scrolled {
    background-color: rgba(140, 22, 91, 0.8);
}
.navbar-scrolled img {
    opacity: 70%;
    outline: 0px;
}
.custom-nav-item{
    font-size: 1.25rem;
    padding: 0 2em;
}

.hero{
    background: url('./content/111031068.jpg') center center/cover no-repeat;  
    min-height: 110vh;
    position: relative;
}
.hero-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        rgba(140, 22, 91, 0.4) 0%,
        rgba(227, 197, 216, 0.4) 20%, 
        rgba(227, 197, 216, 0.7) 65%, 
        rgba(227, 197, 216, 1) 95%);
}

.custom-about-des{
    font-size: 1.25rem;
    max-width: 80%;
    margin-left: 20%;
}

.addition{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    min-height: 18rem;
}
.addition__box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: min(42rem, 70vw);
}
.addition__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0.75rem;
}
.addition__title{
    font-size: clamp(1.875rem, 3vw, 2.375rem);
    font-family: "Poppins", sans-serif;
}
.addition__button{
    background-color: #DA0895;
    border-radius: 20px;
    width: 6rem;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.addition__button a{
    display: flex;
    align-items: center;
    justify-content: center;
}
.addition__button img{
    height: 2.5rem;
}
.addition__description{
    width: 100%;
    font-size: clamp(1.25rem, 3vw, 1.5rem);
    font-family: 'Lato', sans-serif;
}

.footer{
    background-color: #8C165B;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__box{
    display:flex;
    justify-content: space-around;
    max-width: 90%;
    margin: 2rem 0;
    background-color: #E3C5D8;
    line-height: 1;
}
.footer__section{
    width: max(25%, 15vw);
    height: 100%;
    padding-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    font-size: clamp(1rem, 3vw, 1.5rem);
}
.footer__title{
    font-size: 1.2em;
    margin: 0.5em;
    text-align: center;
}
.footer__description{
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
p.footer__description{
    text-align: center;
    font-size: 1em;
}
.footer__item{
    margin: 10px;
    list-style-type: square;
    font-size: 1em;
}

@media (min-height: 1300px) {
    .custom-nav-item{
        font-size: 1.5rem;
        padding: 0 1.5em;
    }
}
@media (max-width: 1024px){
    @media (max-height: 600px) {
        .custom-nav-item{
            font-size: 0.75rem;
            padding: 0 3em;
        }
    }

    .custom-about-des{
        max-width: none;
        margin-left: 5%;
    }
}

@media (max-width: 768px) {
    .custom-about-des{
        max-width: 100%;
        margin-left: 0;
    }   
    .custom-about-iframe{
        max-height: 150px;;
    }
}

@media (max-width: 480px) {
    .addition__button{
        width: 50%;
        height: max-content;
    }

    .footer__box{
        flex-direction: column;
        align-items: center;
    }
    .footer__section{
        width: 80%;
    }
}